header {
  width: 100%;
  position: fixed;
  top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav {
  border-radius: 12px;
  padding: 16px 20px;
  width: 82%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--color-border);
  backdrop-filter: blur(18px);
}

header .leftNav {
  letter-spacing: -2px;
  font-weight: bold;
  font-size: 1.1em;
}

header nav .middleNav,
nav .rightNav {
  display: flex;
  align-items: center;
  gap: 12px;
}

.middleNav a,
.rightNav a {
  text-decoration: none;
  padding: 8px 12px;
  color: #fcfeff;
  border-radius: 12px;
}

.middleNav a::after {
  content: "";
  position: relative;
  left: 50%;
  top: 4px;
  transform: translate(-50%, -50%);
  display: block;
  width: 6px;
  height: 6px;
  background-color: var(--color-tertary);
  border-radius: 999px;
  opacity: 0;
}

header nav a.active::after {
  opacity: 1;
}

header .rightNav a:first-child {
  background-color: var(--color-shadow);
}

header .rightNav a:nth-child(2) {
  background-color: #fcfeff1e;
}

header .rightNav a:hover,
.middleNav a:hover {
  filter: brightness(0.8);
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(16px);
}

footer div {
  font-size: 0.91em;
  font-weight: bold;
  width: 82%;
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

footer div p {
  color: #cccccc2a;
}

footer div p span {
  color: #ffffffa8;
}

.row {
  margin: auto;
  width: 82%;
}

.welcomeContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.welcomeContainer h1 {
  width: 100%;
  letter-spacing: -5px;
  font-size: clamp(4em, 6vw, 7em);
}

.welcomeContainer h1 span,
nav h1 span {
  color: var(--color-tertary);
}

.welcomeContainer p {
  width: 100%;
  font-size: 1.6em;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.welcomeContainer button {
  background-color: var(--color-tertary);
  padding: 20px 24px;
  white-space: nowrap;
  border: none;
  border-radius: 16px;
  font-weight: bold;
  box-shadow: 0 12px 44px var(--color-shadow);
  cursor: pointer;
  transition: box-shadow 0.2s linear ease-in-out;
}

.welcomeContainer button:hover {
  box-shadow: none;
}



.contactContainer, .docContainer {
  gap: 20px;
  width: 100%;
}

.contactContainer h1 {
  margin-top: 44px;
  font-size: clamp(2em, 3vw, 5em);
  color: var(--color-fivth);
}

.contactContainer h1 span {
  color: var(--color-tertary);
}

.contactContainer>p {
  font-size: 1.4em;
  text-transform: capitalize;
}

.contactProfileContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.contactProfileContainer .contactProfile {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-forth);
  padding: 34px 40px;
  border-radius: 16px;
  flex-wrap: wrap;
  flex-grow: 1 300px;
  gap: 12px;
  border: 1px solid transparent;
}
.contactProfile:hover {
  border: 1px solid var(--color-tertary);
}
.contactInfoContainer {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.contactProfile p:nth-child(2) {
  color: var(--color-fivth);
  letter-spacing: 1px;
  width: 100%;
  text-align: left;
}

.contactProfile p:first-child {
  font-size: 1.4em;
  font-family: var(--font-head);
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.contactProfile .contactImg {
  width: 64px;
  height: 64px;
  border-radius: 9999px;
  border: 1px solid var(--color-border);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.contactProfile::before {
  content: "";
  width: 4px;
  height: 4px;
  position: relative;
  display: inline-block;
  top: 0px;
  background:var(--color-tertary);
}

.contactImg img {
  width: 100%;
}

.contactIconContainer {
  display: flex;
  font-size: 2em;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}
.contactIcons {
  color: var(--color-secondary);
}
.contactIconContainer .contactIcons:hover {
  filter: brightness(0.7);
  cursor: pointer;
}
.docContainer h1 {
  font-size: 4em;
  text-align: left;
}
.docContainer p {
  text-align: left;
}









/* for login screen  */
.login-box{
  border: 2px solid var(--color-primary);

}
.login-box form{
  display: flex;
  flex-direction: column;
}

.login-box form input{
  margin: 10px 0;
    border-radius: 7px;
    border: none;
    line-height: 2rem;
}
.login-box a{

display: flex;
justify-content: center;
color: aquamarine;


}
